<blockquote>
  <% if workflowunderway.workflow.code == "1001" %>
    <p><%= link_to Workflow.find(workflowunderway.workflow_id).name, workflowunderway_workflow_step_path(workflowunderway, current_step(workflowunderway), :flow => current_workflow(workflowunderway)) %> <%= workflowunderway.custservvisit.cust_name %></p>
    <small><%= workflowunderway.custservvisit.plan_date.to_s(:db) %></small>
  <% else %>
    <p>
      <%= link_to Workflow.find(workflowunderway.workflow_id).name, workflowunderway_workflow_step_path(workflowunderway, current_step(workflowunderway), :flow => current_workflow(workflowunderway)) %>
    </p>
    <small><%= workflowunderway.updated_at.to_s(:db) %></small>
  <% end %>
<!-- custloan_loan_step_path(@custloan, :id => @next_step) -->
</blockquote>
