<div class="row-fluid">
	<div class="span9 well">
		<!-- <div class=""> -->
			<p class="lead text-center"><legend><strong>渠道连接</strong></legend></p>
			<%= simple_form_for(:channelurl, :url	=> channelurls_path, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
				<fieldset>
					<% if can? :access_broker_first_page, :all %>
					<%= render 'fields_new_broker', :f => f %>
					<% elsif can? :access_user_first_page, :all %>
					<%= render 'fields_new', :f => f %>
					<% end %>
				</fieldset>
				<div class="form-actions">
					<%= f.submit "确认", :class => 'btn btn-primary' %>
					<%= link_to '取消', channels_path, :class => 'btn' %>
				</div>
			<% end %>
		<!-- </div> -->
	</div>
	<div class="span3">
		<div class="alert alert-block">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4>帮助</h4>
		  选择渠道和营业部，生成渠道短连接和渠道二维码。如有二级渠道，输入二级渠道名称并根据提示选择对应的渠道。
		</div>
	</div>
</div>
</div>
	<div id="new_url">
</div>
